table{
    border-collapse: collapse;
    width: 100%;
}
th,td {
        border: 2px solid black;
        text-align: left;
        padding: 8px;
      }


.back{
    margin-left: 700px;
    margin-top: 20px;
    padding: 20px;
    margin-bottom: 20px;
}
.head2{
    text-align:center;
}
